<div class="contact" id="contact">
  <div class="wrapper">
    <div class="content">
      <h2>{{header}}</h2>
      <p>{{description}}</p>
    </div>
    <ul class="social">
      {% for item in socialItems %}
        <li><a href="{{item.link}}" target="_blank" {% if item.class %}class="icon-{{item.class}}"{% endif %}>{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>