<div class="section section-padding music" data-module="musicSection" id="music">
  <div class="wrapper">
    <h2>{{header}}</h2>
    {# <div class="container--content">
      <iframe src="{{iframe_src}}" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      <h4>{{description}}</h4>
    </div> #}
      <div id="music-artists" data-module="equalHeight" data-custom="true" data-els=".name">
        <h4>{{description}}</h4>
        <div class="inner-container">

        </div>
      </div>
      <div id="now-playing">
        <h4>{{description_latest}}</h4>
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div class="inner-container">
        </div>
      </div>
    </div>
  </div>
</div>